<%= javascript_include_tag 'form' %>

<div id="content">
  <header>
    <h2 class="page-title">Create new post</h2>
  </header>

  <div class="content-inner">
    <div class="form-wrapper">
      <%= render 'form' %>
    </div>
  </div>
</div>

