<div id="content">
  <header class="clearfix">
    <div class="col-xs-5 col-sm-3 col-md-3"><b>General Blog Settings</b></div>
  </header>

  <div class="content-inner">
    <%= render 'form' %>
  </div>
</div>




