
<h1>About</h1>
<div class="lead">
  Ruby is an object-oriented programming language.
  Ruby on Rails is a web application framework, which will provide project structure,
  libraries of code for common tasks, and sensible default behaviors.
  Ruby on Rails speeds up development,follows development best practices,
  and gives projects extra features for free.
</div>
<hr>
<p>
  Learn how to create full-featured, object-oriented web applications with the latest
  version of the popular, open-source Ruby on Rails framework.
  Ruby on Rails 5 Essential Training covers the essential features of the framework,
  along with best practices and real-world development techniques,
  resulting in a complete application with dynamic, database-driven content.
</p>

<p>
  Follow along to build your own version of the example project,
  a data-driven content management system, while you learn how to route browser requests,
  structure databases, render pages with dynamic content, process and validate form data,
  and configure authentication. Instructor Kevin Skoglund, founder of web development
  agency Nova Fabrica, also introduces the design principles of CRUD and helps you master
  Rail's built-in helpers. By the end of the course, you should be able to use Ruby
  on Rails to
  build robust web applications that are both easy to scale and maintain.
</p>
